<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Mynotor Addons</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="static/styles.css" rel="stylesheet">
  </head>
  <body>

    <div>
      <a href="/">My addons</a>
      <a href="/browse">Browse addons</a>
    </div>

    <div>
      <h2>Créer un nouveau dossier:</h2>
      <form action="/create" method="post">
        <label for="folderName">Nom du dossier: </label>
        <input type="text" id="folderName" name="folderName" required><br>
        <input type="submit" value="Créer">
      </form>
      <span>{{.state}}</span>
    </div>
  
  </body>
</html>
