<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Mynotor Addons</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    <link href="static/styles.css" rel="stylesheet">
  </head>
  <body>

    <div>
      <a href="/">My addons</a>
      <a href="/browse">Browse addons</a>
    </div>

    <div>
      <h1>List of Addons: </h1>

      <ul>
        {{range .files}}
          <li>{{.}}</li>
        {{end}}
      </ul>
    </div>


  </body>
</html>
