<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Mynotor Addons</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link href="css/style.css" rel="stylesheet"> -->
  </head>
  <body>

    <div>
      <a href="/">My addons</a>
    </div>

    <div>
      <h1>List of Addons: </h1>

      <ul>
        {{range .files}}
          <li>{{.}}</li>
        {{end}}
      </ul>
    </div>

    <div>
      <h2>Créer un nouveau dossier:</h2>
      <form action="/create" method="post">
        <label for="folderName">Nom du dossier: </label>
        <input type="text" id="folderName" name="folderName" required><br>
        <input type="submit" value="Créer">
      </form>
    </div>

  </body>
</html>
